<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= raw @shops_category_spa.to_json %>, <%= raw @shops_category_nails.to_json %>, <%= raw @shops_category_hair.to_json %>, <%= raw @shops_category_baber.to_json %>)
    });
    </script>
<% end %>

<h1>Shops</h1>
<div id="map"></div>

