<% provide :head_tags do %>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
        getShop()
    });
  </script>
<% end %>

<div class="contrainer-shops">
  <h1 class="title">Shops</h1>
  <div id="map" class="map"></div>
</div>


 