<div class="contrainer">
  <div class="contrainer-shops">
    <h1 class="title">BEAUTY AND WELLNESS SERVICES</h1>
    <nav class="navbar navbar-light bg-light">
      <a class="shop-all">All</a>
      <a class="shop-nail">Nail</a>
      <a class="shop-spa">Spa and massage</a>
      <a class="shop-hair">Hair Removal</a>
      <a class="shop-barber">Barber</a>
    </nav>
    <div id="map" class="map"></div>
    <div id="map-nails" class="map"></div>
    <div id="map-hairs" class="map"></div>
    <div id="map-barbers" class="map"></div>
    <div id="map-spas" class="map"></div>
  </div>
</div>
